In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
original_tf_data = pd.read_csv("first_upload.csv")

df = pd.DataFrame(original_tf_data, columns=['ID Number','Gender','Grade Level','Season','400 Meters','800 Meters','1500 Meters','1600 Meters'])
columnsTitles = ['ID Number','Gender','Grade Level','Season','400 Meters','800 Meters','1500 Meters','1600 Meters']
original_tf_df = df.reindex(columns=columnsTitles)


original_tf_df
copy_df = original_tf_df.copy()

In [3]:
copy_df.head()

,ID Number,Gender,Grade Level,Season,400 Meters,800 Meters,1500 Meters,1600 Meters
0,21,M,12th Grade,2007 Outdoor Season,57.74,NaN,NaN,NaN
1,21,M,12th Grade,2007 Outdoor Season,57.34c,NaN,NaN,NaN
2,21,M,12th Grade,2007 Outdoor Season,56.14c,NaN,NaN,NaN
3,21,M,12th Grade,2007 Outdoor Season,57.2h,NaN,NaN,NaN
4,21,M,12th Grade,2007 Outdoor Season,58.8h,NaN,NaN,NaN

In [4]:
def clean_time(time):
    if (str(time) == 'nan') or (str(time)=='DNR') or (str(time)=='nt') or (str(time)=='no time') or (str(time)=='FS') or (str(time)=='DQ') or (str(time)=='NT') or (str(time)=='SCR') or (str(time)=='DNS') or (str(time)=='DNF') :
        return np.nan
    else:       
        if (str(time)[-1]=='c') or (str(time)[-1]=='h'):
          if str(time)[1] == ':':
            return '00:0' + str(time)[:-1]
          else:
            return '00:00:' + str(time)[:-1]
        else:
          if str(time)[1] == ':':
            return '00:0' + str(time)
          else:
            return '00:00:' + str(time)

In [5]:
def time_convert(x):
    if (x[-1]=='c') or (x[-1]=='h'):
        x = x[:-1] 
    x_split = x.split(':')
    if not '.' in x_split[-1]:
        x = x + '.00'
    print(x)
    if len(x_split)==1:
        return(datetime.datetime.strptime(x, '%S.%f').time())
    if len(x_split)==2:
        return(datetime.datetime.strptime(x, '%M:%S.%f').time())
    if len(x_split)==3:
        return(datetime.datetime.strptime(x, '%H:%M:%S.%f').time())

In [6]:
copy_df['new_400 Meters'] = copy_df['400 Meters'].apply(clean_time)
copy_df['new_800 Meters'] = copy_df['800 Meters'].apply(clean_time)

#print(copy_df['new_400 Meters'])
#print(copy_df['new_800 Meters'])

In [8]:
x = copy_df['new_400 Meters'].dropna().sort_values()
#plt.hist(x,bins=200)
#plt.show()

In [12]:
x1 = copy_df['new_800 Meters'].dropna().sort_values()
x1.plot(kind='hist', bins=200)
plt.show()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [ ]:
axis = np.arange(0,20000)


plt.figure(figsize=(20,6))
times= copy_df['new_400 Meters'].dropna().sort_values()
y2= copy_df['new_800 Meters'].dropna()

plt.plot(times,axis[0:14223],'.')
#plt.xlim(clean_time('59'),clean_time('55'))
#plt.xlim('00:00:55.74', '00:00:56.54')
#plt.plot(xrange, y2)
plt.title('Plot of 400m vs range')
plt.xticks(rotation = 90)
#plt.xlabel('Range')
#plt.ylabel('400m Times')

plt.show()

In [ ]:
axis = np.arange(0,20000)


plt.figure(figsize=(20,6))
time_800m= copy_df['new_800 Meters'].dropna().sort_values()
y2= copy_df['new_800 Meters'].dropna()

plt.plot(time_800m,axis[0:14223],'.')
#plt.xlim(clean_time('59'),clean_time('55'))
#plt.xlim('00:00:55.74', '00:00:56.54')
#plt.plot(xrange, y2)
plt.title('Plot of 400m vs range')
plt.xticks(rotation = 90)
#plt.xlabel('Range')
#plt.ylabel('400m Times')

plt.show()

In [ ]:
times_400m= copy_df['new_400 Meters'].dropna().sort_values()

plt.figure(figsize=(10, 5))
                      
plt.hist(times_400m, bins=100)
plt.xlabel('400 Meter Times')
plt.xticks(rotation = 90)
plt.ylabel('Count')
plt.title("Sorted 400m Times, bins=100")
plt.show()

In [ ]:
times_800m= copy_df['new_800 Meters'].dropna().sort_values()

plt.figure(figsize=(10, 5))

plt.hist(times_800m, bins=100)
plt.xlabel('800 Meter Times')
plt.xticks(rotation = 90)
plt.ylabel('Count')
plt.title("Sorted 800m Times, bins=100")
plt.show()

In [ ]:
#print(copy_df)

#row = copy_df.loc[copy_df['new_400 Meters'] == '00:00:53:33.14']
#print(row)

#copy_df = copy_df.drop(labels=[8570], axis=0)
#copy_df

#row1 = copy_df.loc[(copy_df['new_400 Meters'] == '00:00:53:33.14') & (copy_df['ID Number'] == '10159')]
#print(row1)

#row3 = copy_df.loc[copy_df['new_400 Meters'].isin('00:00:53:33.14')]
#print(row3)

In [ ]:
row = copy_df.loc[copy_df['new_400 Meters'] == '00:00:55:09.00']
print(row)

In [ ]:
plt.boxplot(float('new_400 Meters'), notch=True)
plt.show()

In [ ]:
from datetime import datetime

times_400m= copy_df['new_400 Meters'].dropna().sort_values()
pd.to_datetime(times_400m, format='%H:%M:%S.%f')

times_400m= copy_df['new_400 Meters'].dropna().sort_values()
date_time_obj = datetime.strptime(times_400m, '%H:%M:%S')


plt.boxplot((times_400m), notch=True)
plt.show()

In [ ]:
copy_df.info()